*{
		padding: 0;
		margin: 0;
	}
	html{
	   	height: 100%;
	   }
		body{
			height: 100%;
			background:deepskyblue;
			
		}
		#MainBody{
			height: 90%;
			width: 100%;
		}
		#dog{
			height: 10%;
			width: 100%;
			background: url(../img/dog.png) no-repeat 50%;
			background-size: contain;
		}
		#MainBody div{
			background: url(../img/bone.png) no-repeat;
			height: 5%;
			width: 5%;
			position: absolute;
			top: 0px;
			left: 0px;
			background-size: contain;
		}
		#score{
			font-family: "微软雅黑";
			font-size: 20px;
			margin:10px 50px;
			float: left;
		}